<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<a href='http://www.ezentis.com' target='_blank'>
<img src='http://operaciones.ezentis.cl/logos/logo_ezentis_firma.jpg' alt='Ezentis' /></a>
<br>
<font style='color:rgb(189,24,109); font-weight: bold; font-family: Arial;font-size:11pt;' >
Rodrigo Riveros Rojas
</font>
<p style='margin-top: -5px; font-family: Arial;font-size:10pt; margin-top: 5px;'>
Gerencia de Recursos y Personas
<br>
</p>
<p style='margin-top: -10px; font-family: Arial;font-size:9pt;'>
<a href='mailto:rodrigo.riveros@ezentis.cl' target='_blank'><font>rodrigo.riveros@ezentis.cl</font></a>
</p>
<p style='margin-top: -0px; font-family: Arial;font-size:9pt;'>
<a href='http://www.ezentis.com' target='_blank'><font style='color:rgb(189,24,109);'>www.ezentis.com</font></a>
<br>
<font style='color:rgb(84,88,90);'>..........................................................................................................................................................................</font>
<br>
<b><font style='color:rgb(189,24,109);'>Ezentis</font></b>
<br>
<font style='color:rgb(84,88,90);'>
Las Hortensias #501
<br>
Comuna Cerrillos – Santiago - Chile
<br>
Cel +56 9 953710329
<br>
..........................................................................................................................................................................
<br>
AVISO LEGAL.
<p style='line-height: 15px;font-family: Arial;font-size:7.5pt; text-align: justify; width: 100%'>
Este mensaje y sus documentos anexos pueden contener información confidencial o legalmente protegida. Está dirigido única y exclusivamente a la persona o entidad reseñada como destinatarios del mensaje. Si este mensaje le hubiera llegado por error, por favor elimínelo sin revisarlo ni reenviarlo y notifíquelo lo antes posible al remitente. Cualquier divulgación, copia o utilización de dicha información es contraria a la ley. Le agradecemos su colaboración.
</p>
</font>
<br>
</p>
