<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div>
	<img src="https://operaciones.demo-e-gestiontech.cl/view/img/logo-e-w_n.png" width="200px" style="margin-bottom: 5px;">
	<br>
	<span style="color: #003865; font-family: Tahoma, sans-serif; font-size: 15px; margin-top: 4px; font-weight: bold;">Manuel Román Caroca</span>
	<br>
	<span style="color: #00A9CE; font-family: Tahoma, sans-serif; font-size: 13px; line-height : 20px; font-weight: bold;">Director General</span>
	<br>
	<span style="color: #485CC7; font-family: Tahoma, sans-serif; text-align: left; font-size: 12px; margin-top: 0px;"><a href="www.e-gestiontech.cl">www.e-gestiontech.cl</a></span>
	<br>
	<a href="https://www.instagram.com/egestiontech/"><img style="margin-top:10px;" src="https://operaciones.demo-e-gestiontech.cl/view/img/instagram.png" width="32px"></a>
	<a href="https://www.linkedin.com/company/e-gestiontech/"><img src="https://operaciones.demo-e-gestiontech.cl/view/img/linkedin.png" width="32px"></a>
	<br>
	<span style="color: #003865; font-family: Tahoma, sans-serif; text-align: left; font-size: 14px; margin-top: 0px;">
	..........................................................................................................................................................................
	<br>
	AVISO LEGAL.
	<br>
	</span>
	<p style="font-family: Tahoma, sans-serif; text-align: left; font-size: 12px; margin-top: 15px;">
			Este mensaje y sus documentos anexos pueden contener información confidencial o legalmente protegida. Está dirigido única y exclusivamente a la persona o entidad reseñada como destinatarios del mensaje. Si este mensaje le hubiera llegado por error, por favor elimínelo sin revisarlo ni reenviarlo y notifíquelo lo antes posible al remitente. Cualquier divulgación, copia o utilización de dicha información es contraria a la ley. Le agradecemos su colaboración.
	</p>
</div>
